# Bloqueio total de chaves (Segurança Máxima)
*.json
ariana-moveis-final-*.json
*-adminsdk-*.json
service-account.json
.env
backend/.env
functions/.env

# Abrir exceção APENAS para arquivos de configuração do sistema
!package.json
!package-lock.json
!firebase.json
!firestore.indexes.json
!firestore.rules
!storage.rules
node_modules
