RewriteEngine On

# Força domínio principal .com.br
RewriteCond %{HTTP_HOST} ^(www\.)?arianamoveis\.site$ [NC]
RewriteRule ^(.*)$ https://arianamoveis.com.br/$1 [R=301,L]

# Força /index.html para /
RewriteCond %{THE_REQUEST} \s/index\.html[\s?] [NC]
RewriteRule ^index\.html$ https://arianamoveis.com.br/ [R=301,L]